* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin: 0 -15px;
}

.col {
    flex: auto;
    padding: 0 15px;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 0;
}

.logo a {
    text-decoration: none;
    color:black;
}
.logo a:active{
    color:#5833c2;
}

.menu {
    margin-top: 26px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color .5s;
}

.menu a:hover {
    color: #5833c2;
}

#hero {
    background-image: url(images/4.jpg);
    max-width: 100%;
    min-height: 880px;
    background-position: 36%, 70%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

#hero::before {
    content: '';
    background-color: white;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

#hero h1 {
    font-size: 45px;
    color: black;
    font-weight: 900;
}

#hero .container {
    display: flex;
    align-items: center;
    min-height: 880px;
}

.header-content {
    z-index: 2;
}

.header-content h1 span {
    background-color: rgba(213, 213, 213, 0.75);
}

.sub-title-main {
    max-width: calc(88% / 2);
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
}

.btn {
    height: 45px;
    width: 130px;
    color: white;
    font-weight: 300;
    background-color: #5833c2;
    border: transparent;
    text-transform: uppercase;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 1s;
}
.btn:hover {
    background-color: black;
}

.section-text {
    padding: 100px 190px 70px 190px;
    text-align: center;
    font-weight: 500;
}

.section-text div {
    font-size: 35px;
    color: black;
    font-weight: 700;
    margin-bottom:35px;
    margin-top:10px;
}

.section-text div span {
    color: #5833c2;
}

.sub-title-secondary {
    margin-top:0;
    margin-bottom:10px;
}

#about {
    background-color: #f7f7f7;
}

#about .container .row{
    padding-bottom: 100px;
}
#about .container .row .col {
    text-align: center;
    padding: 0 50px;
    width: calc(100% / 3);
}

#about .container .row .col i {
    padding: 45px;
    border: transparent;
    background-color: #5833c2;
    color:white;
    border-radius: 50%;
    font-size: 40px;
    position: relative;
}

#about .container .row .col i:hover {
    background-color: black;
    color:white;
} 
#about .container .row .col h2 {
    margin-top:35px;
}

#about .container .row .col h2 a {
    text-decoration: none;
    color:black;
    font-size:20px;
}

#blog .container .row .col {
    width: calc(100% / 3);
    padding:0 15px;
}

#blog .container .row{
    padding-bottom: 100px;
}


article {
    border: 1px solid #eeeeee;
}
article:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
}
.img-container {
height: 230px;
overflow: hidden;
}

.article-content {
    padding: 20px 15px;
}

.article-content h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.article-content h2 a {
    text-decoration: none;
    color:black;
}

.title-date {
    text-transform: uppercase;
    margin:15px 0 25px 0;
    color:#979797;
    font-size:13px;
}
.article-content p {
    margin:0;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}

#get-in-touch {
    background-color: #f7f7f7;
    padding-bottom: 100px;
}
#get-in-touch .container .row {
    justify-content: center;
}
.container-form {
    padding:0 130px
}


.col-25 {
    width: 25%;
    text-align: center;
    background-color: #1a1a1a;
}
.col-75 {
    width: 75%;
    border: 1px solid black;
    background-color: white;
}


#get-in-touch .container .container-form .row .col ul {
    list-style-type: none;
    color:#4c4c4c;
    padding-left:20px
}
.container-form .row .col ul li a {
    text-decoration: none;
    color:#4c4c4c;
}
.container-form .row .col ul li {
    font-size: 11px;
    line-height: 18px;
}

.contact-info {
    font-size: 20px;
    color:white;
    margin:20px 20px 25px 20px;
    font-weight: bold;

}

.contact-icon {
    color:#a1a1a1;
    font-size:20px !important;
    margin-bottom:3px;
}

.contact-title {
    color:#a1a1a1;
    font-size:12px !important;
    margin-bottom:5px;
}


.container-form .row .col:last-child .row {
    padding:0 25px;
}
.container-form .row .col:last-child .row .col input{
    width:100%;
    padding: 11px 0 11px 20px;
    margin-bottom:15px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border:1px solid #d9d9d9;
}

.container-form .row .col:last-child .row .col textarea{
    width:100%;
    padding: 10px 0 10px 20px;
    margin-bottom:15px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    resize: none;
    border:1px solid #d9d9d9;
}
.touch {
    margin:25px 0 35px 25px;
    font-weight: bold;
    font-size:21px;
}

.btn-contact {
    width: 150px;
    height: 45px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    margin-bottom:40px;
    cursor: pointer;
    outline: none;
    transition: background-color 1s;
}

.btn-contact:hover {
    background-color: #5833c2;
}

#footer {
    background-color: #1a1a1a;
}

.social-icons {
    text-align: center;
    padding-top:100px;
}

.social-icons a{
    background-color: white;
    display: inline-block;
    height: 35px;
    width: 35px;
    color:#1a1a1a;
    border: transparent;
    border-radius: 50%;
    padding: 10px;
    margin:5px;
    text-align: center;
}

.copyright {
    color:#6e6e6e;
    margin-top:40px;
    font-size: 14px;
    text-align: center;
    padding-bottom:80px;
}

@media all and (max-width: 950px) {
    .container-form .row {
        flex-direction: column;
    }
    .col-25 {
        width: 100%;
    }
    .col-75 {
        width: 100%;
    }

    nav {
        display: none;
    }

    
}
@media all and (max-width: 786px) {
    #hero {
        min-height: 440px;
    }
    #blog .container .row {
        flex-direction: column;
        padding-bottom: 50px
    }
    #blog .container .row .col {
        width: 100%;
        margin-bottom:15px;
        }
    #about .container .row {
        flex-direction: column;
        padding-bottom: 50px
    }

    #about .container .row .col  {
        width: 100%;
        margin-bottom:15px;
    }
    #get-in-touch {
        padding-bottom: 50px;
    }
    .section-text {
        padding: 0;
    }

    .img-container {
        height: 100%;
    }

    .social-icons {
        padding-top:50px;
    }
    .copyright {
        padding-bottom:40px;
    }
    .container-form {
        padding: 0 15px;
    }
    .section-text div {
        margin-top:0;
        padding-top:10px;
    }
}

